.show-cell {
    background: white;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
}
.ag-row-hover {
    background: red;
}