
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* antd */
.notiAnimation {
  animation-name: notiAnimate;
  animation-duration: 2s;
  animation-delay: 0.5s;
} 
@keyframes notiAnimate {
  from {  
    left: 0px;
  }
  to {
    left: 500px;
  }
}
/* header */
.header-item:hover {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}
.ant-menu-item.header-item.ant-menu-item-selected {
  border-bottom: 2px solid transparent !important;
  color: inherit !important;
}
/* menu-bar */
.ant-menu-item.menu-bar-item.ant-menu-item-active:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}
.ant-menu-item.menu-bar-item.ant-menu-item-selected {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

